html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}


#navbar {
  margin:       0;
  padding:      0;
  overflow: hidden;
  background-color: #f1f1f1;
  z-index: 1;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  border-bottom: 3px solid transparent;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the navbar to increase when the font gets bigger */
#navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
#navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #ddd;
  color: black;
  transition: 0.3s;
  border-bottom: 3px solid #00561B;
}

/* Style the active/current link*/
#navbar a.active {
  background-color: #00CCCB;
  color: white;
}

/* Float the link section to the right */
#navbar-right {
  float: right;
}

#navbar a.split {
  float: right;
}

/*----------------------------------------------------------------------------------------------------*/
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  line-height: 25px;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.3s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/*----------------------------------------------------------------------------------------------------*/

#topButton {
  background-color: #00CCCB;
  z-index: 1;
  position: fixed;
  width: 40px;
  height: 40px;
  margin: 20px;
  font-size: 35px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  text-align: center;
  visibility: hidden;
}



/*----------------------------------------------------------------------------------------------------*/
#firstlook {
  width: 100 svh;
  border: 3px solid navy;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}


.imgbox {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.img {
  border-radius: 10px;
}
.switch {
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}
.textpres {
  width: 100%;
  min-width: 300px;
  padding-left: 10px;
  margin: auto;
}
/*----------------------------------------------------------------------------------------------------*/

.paragimg {
  padding-left: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*----------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
}
/*----------------------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
  #firstlook {
    flex-direction: column;
  }
  .paragimg {
    flex-direction: column;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}