html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0px
}


.header {
  background-color: transparent;
  color: white;
  height: 100svh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
}


#navbar {
  margin:       0;
  padding:      0;
  overflow: hidden;
  background-color: #f1f1f1;
  z-index: 1;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  border-bottom: 3px solid transparent;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the navbar to increase when the font gets bigger */
#navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
#navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #ddd;
  color: black;
  transition: 0.3s;
  border-bottom: 3px solid #00561B;
}

/* Style the active/current link*/
#navbar a.active {
  background-color: #00CCCB;
  color: white;
}

/* Float the link section to the right */
#navbar-right {
  float: right;
}

#navbar a.split {
  float: right;
}

/*----------------------------------------------------------------------------------------------------*/
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  line-height: 25px;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.3s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/*----------------------------------------------------------------------------------------------------*/

form {
  width  : svw;
  min-width: 600px;
  min-height: 200px;
  margin : 10px;
  border: 3px solid #57C5B6;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#firstpage{
  display: flex;
  flex-direction: row;
  min-height: 200px;
}
#addphoto{
  display: flex;
  flex-direction: row;
  min-width: 200px;
  width: 40%;
}
.stackedimg{
  width: 30%;
}






.upload-btn-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.btn {
  border: 2px solid #000;
  color: #ccc;
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border-color: #666;
  color: #666;
}

input[type="file"].button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-btn-wrapper:hover .btn{
  border-color: #666;
  color: #666;
}





.description{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.titleblock{
  display: inline;
}

.descriptionblock{
  display: flex;
  flex-direction: column;
  height: 100%;
}

textarea.carddesc{
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  line-break: strict;
  vertical-align: text-top;
}
input[type="text"].titre{
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ddd;
  color: white;
  min-width: 300px;
}




#ButtonBox {
  background-color: transparent;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.addBlock {
  grid-area: 1 / 1 / 2 / 3;
  justify-content: center;
  height: 1/10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cancelBlock {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitBlock {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.buttonPlus{
  background-color: transparent;
  border-style: none;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SVGPath{
  transform-origin: center;
}

/*button.buttonPlus:hover .plus{
  animation: plus-hover 800ms;
}*/

@keyframes plus-hover{
  0% {
    transform: scale(0.2) ;
    transition: transform 0.2s cubic-bezier(0.8, 0, 0.2, 1.2);
  }
  50%{
      d: path("M 9.12,15.88 C 9.61,16.37 10.40,16.37 10.89,15.88 10.89,15.88 18.39,8.38 18.39,8.38 18.88,7.89 18.88,7.10 18.39,6.61 17.90,6.12 17.11,6.12 16.62,6.61 16.62,6.61 10.00,13.23 10.00,13.23 10.00,13.23 3.38,6.62 3.38,6.62 2.89,6.13 2.10,6.13 1.61,6.62 1.12,7.11 1.12,7.90 1.61,8.39 1.61,8.39 9.11,15.89 9.11,15.89 9.11,15.89 9.12,15.88 9.12,15.88 Z");
  }
  100%{
    transition: transform 0.2s cubic-bezier(0,.81,1,1.07);
    d: path("M 9.12,15.88 C 9.61,16.37 10.40,16.37 10.89,15.88 10.89,15.88 18.39,8.38 18.39,8.38 18.88,7.89 18.88,7.10 18.39,6.61 17.90,6.12 17.11,6.12 16.62,6.61 16.62,6.61 10.00,13.23 10.00,13.23 10.00,13.23 3.38,6.62 3.38,6.62 2.89,6.13 2.10,6.13 1.61,6.62 1.12,7.11 1.12,7.90 1.61,8.39 1.61,8.39 9.11,15.89 9.11,15.89 9.11,15.89 9.12,15.88 9.12,15.88 Z");

  }
}

.plus:hover #SVGPath {
  /*d: path("M 9.12,15.88 C 9.61,16.37 10.40,16.37 10.89,15.88 10.89,15.88 18.39,8.38 18.39,8.38 18.88,7.89 18.88,7.10 18.39,6.61 17.90,6.12 17.11,6.12 16.62,6.61 16.62,6.61 10.00,13.23 10.00,13.23 10.00,13.23 3.38,6.62 3.38,6.62 2.89,6.13 2.10,6.13 1.61,6.62 1.12,7.11 1.12,7.90 1.61,8.39 1.61,8.39 9.11,15.89 9.11,15.89 9.11,15.89 9.12,15.88 9.12,15.88 Z");
  transition: 0.4s ease-in-out*/;
  animation: plus-hover 400ms forwards;
}


.cancelBlock .buttonCancel{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.cancelBlock p{
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.submitBlock .buttonSubmit{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.submitBlock p{
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/*----------------------------------------------------------------------------------------------------*/

#topButton {
  background-color: #00CCCB;
  z-index: 1;
  position: fixed;
  width: 40px;
  height: 40px;
  margin: 20px;
  font-size: 35px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  text-align: center;
  visibility: hidden;
}



/*----------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
}
/*----------------------------------------------------------------------------------------------------*/

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}